.DS_Store
.idea

/data/data.csv
/data/generated/*.csv
/data/generated/*.json
/data/generated/*.zip
/city_detail/*.html

/node_modules
tsconfig.tsbuildinfo
/dist/
/.parcel-cache/
/test-results/
/playwright-report/
/playwright/.cache/

.envrc

broken-links.txt
