html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

/*
@media only screen and (max-width: 900px) {
  #selector_pane {
    visibility: hidden;
  }
  #legend {
    visibility: hidden;
  }
  #logos {
    bottom: 10px;
  }
}
*/

/* Put shiny notifications front and center */
#shiny-notification-panel {
  top: 0;
  bottom: unset;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 450px;
}

.shiny-notification {
  opacity: 95%;
}

.sw-dropdown {
  position: relative;
  display: inline-block;
}

.sw-dropdown-content {
  color: #339FFF; text-align: left; font-weight:bold; font-size: 10px;
}

.control-label{
  font-size: 10px;
}

.dropdown-item {
  font-size: 10px;
}

.filter-option {
  font-size: 10px;
}

.row {
  margin: 0;
}

#mainrow{
  width: 100%;
  margin: 0;
}

.clicked_city_first_row > div {
  display: inline-block;
}


#clicked_city,
#clicked_population,
#clicked_report_summary,
#clicked_reporter,
#clicked_report_magnitude,
#clicked_report_land_uses,
#clicked_report_type,
#clicked_report_status,
#clicked_city_state {
  margin-left: 10px;
  margin-bottom: 10px;
}

#selector_pane {
  width: 100%;
}



#logos {
  left: 10px;
  position: absolute;
  cursor: inherit;
}

#logos > div {
  float: left;
}

#legend {
  left: 10px;
  bottom: 10px;
  position: absolute;
  cursor: inherit;
  background: rgba(76, 175, 80, 0.7);
  border-color: rgba(255, 192, 203, 0.7);
  border-style: solid;
  border-width: 20px;
} 

#highlight-panel {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 15px 0px #c0c0c0;
    border-radius: 5px;
}

#highlight-panel .shiny-input-container {
    width: auto !important;
}
#highlight-panel .form-group {
    margin: 0px
}
.material-switch {
  padding: 7px;
}

#city_detail_info {
  position: absolute;
  top: 1%;
  right: 1%;
  width: 40%;
  height: 90%;
  cursor: inherit;
  background: rgba(255, 255, 255, 1);
  border-color: rgba(186, 186, 186, 0.7);
  border-style: solid;
  padding: 20px;
  border-radius: 10px;
  overflow:auto;
}

#close_detail {
  position: fixed;
  top: 5%;
  right: 5%;
  background-color: #c9c9c9;
  /* border-color: #ffff00; */
  color: #000000;

}

#city_search {
  width: 200px;
}

@media only screen and (max-width: 480px) {
  #city_detail_info {
      top: 20%;
      width: 80%;
      height: 70%;
      z-index: 1000;
    
  }
  #close_detail {
  top: 24%;
  right: 5%;
  }
}

#legend {
  left: 10px;
  bottom: 10px;
  position: absolute;
  cursor: inherit;
  background: rgba(255, 255, 255, 1);
  border-color: rgba(186, 186, 186, 0.7);
  border-style: solid;
  /* border-width: 2px; */
  /* overflow-y: auto; */
  padding: 20px;
  border-radius: 10px;
}

#legend > .row {
  margin-right: 0px;
  margin-left: 0px;
}

#map {
  height: calc(100vh) !important;
  margin: 0;
}

#sidePanel {
  height: calc(100vh) !important;
  background: rgba(255, 255, 255, 1);
  border-color: rgba(186, 186, 186, 0.7);
  overflow-y: scroll;
  padding-left: 50px;
  padding-top: 20px;
}


#support_link > img,
#strong_towns_link > img,
#parking_reform_link > img {
  width: 75px;
}

#logos {
  bottom: 15px;
  left: 75px;
}

#legend > div > .awesome-marker-legend {
  position: static;
}

.notify-badge {
  position: absolute;
  background: red;
  text-align: right;
  border-radius: 20px 20px 20px 20px;
  color: white;
  padding: 2px 2px;
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  right: -25px;
  top: -20px;
  transform: rotate(30deg);
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.control-label {
  font-weight: 900 !important;
}

#mapView {
  margin: 0;
  border: 0;
  padding: 0 !important;
}

#controls {
          background-color: "white";
          padding: 6px;
          border-top-color: "black";
          border-style: groove;
        }