// Inspired by https://dev.to/alberto/defining-responsive-breakpoints-made-easy-with-sass-mixins-26p0.
//
// When developing, check how 335px x 600px renders. This is what the map as an iframe
// looks like on iPhone SE.

$xs-width: "480px";
$sm-width: "640px";
$md-width: "768px";
$lg-width: "1024px";
$xl-width: "1280px";

@mixin gt-xxs() {
  @media screen and (min-width: $xs-width) {
    @content();
  }
}

@mixin gt-xs() {
  @media screen and (min-width: $sm-width) {
    @content();
  }
}

@mixin gt-sm() {
  @media screen and (min-width: $md-width) {
    @content();
  }
}

@mixin gt-md() {
  @media screen and (min-width: $lg-width) {
    @content();
  }
}

@mixin gt-lg() {
  @media screen and (min-width: $xl-width) {
    @content();
  }
}
