$teal: hsl(173, 72%, 46%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$gray: hsl(0, 0%, 25.88%); // Color comes from the logo
$gray-light: hsl(0, 0%, 80%);

$black-translucent: hsla(0, 0%, 0%, 0.4);

$hover-white: hsl(0, 0%, 96%);
$hover-gray: hsl(0, 0%, 32%);
