@use "borders";
@use "breakpoints";
@use "colors";
@use "hover";
@use "icons";
@use "spacing";

@mixin flex-center($display: flex, $justify: center) {
  display: $display;
  align-items: center;
  justify-content: $justify;
}

@mixin bordered-surface($background: null) {
  border: borders.$component-border;
  border-radius: borders.$border-radius;

  @if $background {
    background-color: $background;
  }
}

@mixin icon-button-container(
  $hover-bg: colors.$white-hover,
  $responsive-icon: true
) {
  cursor: pointer;
  height: spacing.$min-touch-target;
  width: spacing.$min-touch-target;
  margin-left: auto;

  @include flex-center(inline-flex);

  @include hover.enabled {
    background-color: $hover-bg;
  }

  svg {
    height: icons.$icon-size-md;
    width: icons.$icon-size-md;

    @if $responsive-icon {
      @include breakpoints.gte-md {
        height: icons.$icon-size-lg;
        width: icons.$icon-size-lg;
      }
    }
  }
}
