// https://www.w3.org/WAI/WCAG21/Understanding/target-size.html
$min-touch-target: 44px;

$map-controls-margin-x: 8px;
$map-controls-margin-top: 6px;

$container-edge-spacing: 15px;
$element-gap: 10px;
$small-gap: 5px;

$popup-max-height: 600px;

// Default `list-style-position` indent is 40px; use this for a tighter list.
$list-indent: 20px;
