// On mobile, it's inevitable that expanded elements cover other UI elements.
// The priority is important.

$logo: 1001;
$counter: 1002;
$filter-icon: 1003;
$scorecard: 1004;
$search: 1005;
$filter-popup: 1006;
$about: 1007;
