<header class="site-header">
  <div class="site-header-left">
    <a
      href="https://parkingreform.org/"
      aria-label="Parking Reform Network home page"
    ><img src="./prn-logo-primary.png" alt="Parking Reform Network logo"/></a>
  </div>
  <div class="site-header-right">
    <ul role="menubar">
      <li role="none" class="site-header-map-link">
        <a role="menuitem" href="https://parkingreform.org/resources/mandates-map">Reform map</a>
      </li>
      <li role="none">
        <a role="menuitem" href="https://parkingreform.org/support">Donate</a>
      </li>
    </ul>
  </div>
</header>
