<p class="summary">{{ record.summary }}</p>
<dl>
  {% if record.date -%}
    <dt>Reform date</dt>
    <dd>{{ record.date }}</dd>
  {%- endif %}
  <dt>Reform status</dt>
  <dd>{{ record.status }}</dd>
  <dt>Reform scope</dt>
  <dd>{% render "string-array" array: record.scope %}</dd>
  <dt>Affected land uses</dt>
  <dd>{% render "string-array" array: record.landUse %}</dd>
  {% if record.requirements.size > 0 -%}
    <dt>Requirements</dt>
    <dd>{% render "string-array" array: record.requirements %}</dd>
  {%- endif %}
  {% if record.reporter -%}
    <dt>Reporter</dt>
    <dd>{{ record.reporter }}</dd>
  {%- endif %}
</dl>
{% for citation in record.citations -%}
  {% render "citation" citation: citation numCitations: record.citations.size index: forloop.index %}
{%- endfor %}
