body {
  background-color: #20c9c9;
  background-image: url("bg-photo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

main {
  word-break: break-word;
  width: calc(100% - 2rem);
  background-color: white;
}

.site-header {
  background-color: #4d4d4d;
  color: white;
}

.all-caps-link {
  display: inline-block;
  text-transform: uppercase;
  text-decoration-line: none;
  color: unset;
}

.all-caps-link:hover {
  color: unset;
}

.attachment + .attachment {
  margin-top: 3rem;
}

.button {
  background-color: #21ccb9;
  border: none;
  color: white;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
