@use "theme/borders";
@use "theme/breakpoints";
@use "theme/colors";
@use "theme/hover";
@use "theme/icons";
@use "theme/mixins";
@use "theme/spacing";
@use "theme/typography";
@use "theme/zindex";

@use "header";

.about-popup {
  position: absolute;
  left: spacing.$map-controls-margin-x;
  right: spacing.$map-controls-margin-x;
  margin-left: spacing.$map-controls-margin-x;
  margin-right: spacing.$map-controls-margin-x;

  min-height: 50%;
  max-height: 70%;
  min-width: 200px;
  max-width: 800px;
  top: calc(header.$header-height + spacing.$map-controls-margin-top);
  z-index: zindex.$about;

  font-size: typography.$font-size-base;
  padding: spacing.$container-edge-spacing;

  @include mixins.bordered-surface(colors.$white);

  overflow-y: auto;
  overflow-wrap: break-word;

  @include breakpoints.gte-md {
    margin-left: 10%;
  }

  h3 {
    margin: 0;
    font-size: typography.$font-size-lg;
    font-weight: typography.$font-weight-bold;
  }
}

.about-popup-header {
  @include mixins.flex-center(inline-flex);
  width: 100%;

  h2 {
    flex: 1;
    margin: 0;
    margin-right: spacing.$element-gap;
    line-height: typography.$line-height-base;
    font-size: typography.$font-size-xl;
    font-weight: typography.$font-weight-bold;
  }
}

.about-popup-close-icon-container {
  @include mixins.icon-button-container;
}

.about-popup-links-list {
  margin-top: spacing.$element-gap;
  padding: 0;
  padding-inline-start: spacing.$list-indent;
}
