.about-popup {
  position: absolute;
  z-index: 1001;
  background-color: white;
  border: 1px solid gray;
  width: 80%;
  height: 60%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow: auto;
  display: none;

  font-size: 1rem;
  padding: 1rem;

  @media only screen and (min-width: 48em) {
    height: auto;
  }
}

.about-popup-close-icon {
  position: absolute;
  right: 1em;
  cursor: pointer;
}
