@use "theme/colors-original";

/* The alert message box */
.alert {
  display: none;
  position: absolute;
  top: 4em;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1100;

  width: 40%;
  @media only screen and (max-width: 48em) {
    width: 90%;
  }

  padding: 0.5em 1em;
  background-color: colors-original.$yellow;
  color: colors-original.$gray-dark;
  font-size: 0.9em;
}

/* The close button */
.alert-close-button {
  color: colors-original.$gray-dark;
  font-weight: bold;
  float: right;
  font-size: 1.5em;
  line-height: 1em;
  cursor: pointer;
  transition: 0.3s;
}

.alert-close-button:hover {
  color: colors-original.$black;
}
