@use "theme/colors-original";

.city-details-popup {
  display: none;
  background-color: colors-original.$white;
  border: 1px solid colors-original.$gray-neutral;

  width: 80%;
  max-height: 60%;
  overflow: auto;

  position: absolute;
  z-index: 1100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media only screen and (min-width: 48em) {
    width: 25rem;
    height: auto;
    top: 4rem;
    right: 1rem;
    left: unset;
    transform: unset;
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.city-details-text {
  font-size: 0.7em;
  padding: 1rem 2rem;

  @media only screen and (min-width: 48em) {
    font-size: 0.9rem;
  }
}

.city-details-popup-close-icon {
  position: absolute;
  right: 1em;
  top: 1em;
  cursor: pointer;
}
