@use "theme/borders";
@use "theme/colors";
@use "theme/colors-original";
@use "theme/spacing";
@use "theme/typography";
@use "header";

.city-counter-container {
  position: absolute;
  background-color: colors-original.$white;
  font-size: typography.$font-size-md;
  top: calc(header.$header-height + 10px);

  z-index: 900;
  padding: spacing.$element-gap spacing.$container-edge-spacing;
  margin-left: spacing.$map-controls-margin-x;
  right: spacing.$map-controls-margin-x;

  border: borders.$component-border;
  border-radius: borders.$border-radius;

  max-width: 235px;
  line-height: 1.3;
}
