@use "theme/borders";
@use "theme/breakpoints";
@use "theme/colors";
@use "theme/icons";
@use "theme/spacing";
@use "theme/typography";
@use "theme/zindex";
@use "header";
@use "zoom";

.map-counter {
  z-index: zindex.$map-counter;
  position: fixed;
  left: calc(zoom.$total-width + spacing.$map-controls-margin-x);
  top: calc(header.$header-height + spacing.$map-controls-margin-top);

  font-size: typography.$font-size-base;
  line-height: 1.3;

  padding: spacing.$element-gap spacing.$container-edge-spacing;
  min-height: 40px; // This is for when the counter is not yet populated.
  width: 260px;

  background-color: colors.$white;
  color: colors.$black;
  border: borders.$component-border;
  border-radius: borders.$border-radius;

  @include breakpoints.gt-xxs {
    width: 280px;
    font-size: typography.$font-size-md;
  }
  @include breakpoints.gt-xs {
    width: 300px;
  }
  @include breakpoints.gt-md {
    width: 340px;
  }

  ul {
    margin-top: 5px;
    margin-bottom: 0px;
  }
}

.table-counter-container {
  padding: spacing.$element-gap spacing.$container-edge-spacing;
  line-height: 1.3;
  width: 100%;

  font-size: typography.$font-size-base;

  display: flex;
  align-items: center;
  justify-content: space-betwen;

  @include breakpoints.gt-xs {
    font-size: typography.$font-size-md;
  }

  #table-counter {
    margin: 0;
    flex: 1 1 auto;
    margin-right: spacing.$element-gap;
  }

  #table-logo {
    flex: 0 0 auto;
    display: inline-flex;
    width: icons.$icon-size-lg;
    height: icons.$icon-size-lg;
  }
}
