$gray: rgb(204, 204, 204);

.city-counter-container {
  position: absolute;
  background-color: white;
  top: 7em;
  left: 3em;
  z-index: 900;
  padding: 0.2em 0.4em;

  border: solid $gray 1px;
  border-radius: 2px;

  width: 17em;
  text-align: center;

  @media only screen and (min-width: 48em) {
    top: 7.5em;
  }
}
