@use "theme/borders";
@use "theme/breakpoints";
@use "theme/colors";
@use "theme/icons";
@use "theme/spacing";
@use "theme/typography";
@use "theme/zindex";
@use "header";

.map-counter {
  $font-size: typography.$font-size-md;

  z-index: zindex.$map-counter;
  position: fixed;
  right: spacing.$map-controls-margin-x;
  top: calc(header.$header-height + spacing.$map-controls-margin-top);

  font-size: $font-size;
  line-height: 1.3;

  padding: spacing.$element-gap spacing.$container-edge-spacing;
  min-height: calc($font-size * 2 + spacing.$element-gap * 2);
  width: 260px;
  @include breakpoints.gt-xxs {
    width: 280px;
  }

  background-color: colors.$white;
  color: colors.$black;
  border: borders.$component-border;
  border-radius: borders.$border-radius;
}

.table-counter-container {
  padding: spacing.$element-gap spacing.$container-edge-spacing;
  line-height: 1.3;
  width: 100%;

  font-size: typography.$font-size-base;
  @include breakpoints.gt-xs {
    font-size: typography.$font-size-md;
  }

  display: flex;
  align-items: center;
  justify-content: space-betwen;

  #table-counter {
    margin: 0;
    flex: 1 1 auto;
    margin-right: spacing.$element-gap;
  }

  #table-logo {
    flex: 0 0 auto;
    display: inline-flex;
    width: icons.$icon-size-lg;
    height: icons.$icon-size-lg;
  }
}
