$gray: rgb(204, 204, 204);
$top-offset: 3.5em;

.city-counter-container {
  position: absolute;
  background-color: white;
  top: $top-offset;
  left: 3em;
  z-index: 900;
  padding: 0.2em 0.4em;

  border: solid $gray 1px;
  border-radius: 2px;

  width: 17em;
  text-align: center;
  cursor: pointer;

  @media only screen and (min-width: 48em) {
    top: $top-offset + 0.5em;
  }
}

.city-counter-container:hover {
  text-decoration: underline;
}
