@use "theme/borders";
@use "theme/breakpoints";
@use "theme/colors";
@use "theme/icons";
@use "theme/links";
@use "theme/mixins";
@use "theme/popup";
@use "theme/spacing";
@use "theme/typography";
@use "theme/zindex";
@use "zoom";

.map-counter {
  @include popup.popup-anchor(
    zindex.$map-counter,
    calc(zoom.$total-width + spacing.$map-controls-margin-x)
  );

  font-size: typography.$font-size-base;
  line-height: typography.$line-height-base;

  padding: spacing.$element-gap spacing.$container-edge-spacing;
  min-height: 40px; // This is for when the counter is not yet populated.
  width: 260px;

  color: colors.$black;
  @include mixins.bordered-surface(colors.$white);

  @include breakpoints.gte-xs {
    width: 280px;
    font-size: typography.$font-size-md;
  }
  @include breakpoints.gte-sm {
    width: 300px;
  }
  @include breakpoints.gte-lg {
    width: 340px;
  }

  ul {
    margin-top: spacing.$small-gap;
    margin-bottom: 0;
  }
}

.table-counter-container {
  padding: spacing.$element-gap spacing.$container-edge-spacing;
  line-height: typography.$line-height-base;
  width: 100%;

  font-size: typography.$font-size-base;

  @include mixins.flex-center(flex, space-between);

  @include breakpoints.gte-sm {
    font-size: typography.$font-size-md;
  }

  #table-counter {
    margin: 0;
    flex: 1 1 auto;
    margin-right: spacing.$element-gap;
  }

  #table-logo {
    flex: 0 0 auto;
    display: inline-flex;
    width: icons.$icon-size-lg;
    height: icons.$icon-size-lg;
  }
}

.counter-search-reset,
.counter-table-download {
  display: inline;
  @include links.link-styles;
}
