.filter--scope {
  position: absolute;
  top: 4em;
  left: 15em;
  width: auto;
  z-index: 1100;

  @media only screen and (min-width: 48em) {
    top: 4.7em;
  }
}

.filter--scope option::before {
  content: "\2610";
  width: 1.3em;
  text-align: center;
  display: inline-block;
}
.filter--scope option:checked::before {
  content: "\2611";
}
