@use "theme/borders";
@use "theme/colors";
@use "theme/colors-original";
@use "theme/spacing";
@use "theme/zindex";
@use "header";

.filter-popup {
  position: fixed;
  right: spacing.$map-controls-margin-x;
  top: calc(header.$header-height + spacing.$map-controls-margin-top);
  z-index: zindex.$filter-popup;

  max-height: min(600px, 75vh);
  overflow-y: auto;

  background-color: colors.$white;
  border: borders.$component-border;
  border-radius: borders.$border-radius;
}

.filter-popup > * {
  margin: 0.5em 1em;
}

.filter {
  border: solid colors-original.$gray-light 1px;

  label {
    display: block;
  }
}
