@use "theme/borders";
@use "theme/colors";
@use "theme/icons";
@use "theme/spacing";
@use "theme/typography";
@use "theme/zindex";
@use "header";

$filter-total-width: 310px;
$filter-inner-width: calc(
  $filter-total-width - (borders.$border-thickness * 2)
);

.filter-popup {
  position: fixed;
  right: spacing.$map-controls-margin-x;
  top: calc(header.$header-height + spacing.$map-controls-margin-top);
  z-index: zindex.$filter-popup;
  width: $filter-total-width;

  max-height: min(600px, 75vh);
  overflow-y: auto;

  background-color: colors.$white;
  border: borders.$component-border;
  border-radius: borders.$border-radius;

  fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }
}

.filter-accordion-toggle {
  height: spacing.$min-touch-target;
  width: 100%;
  padding: 0;

  font-size: typography.$font-size-base;
  cursor: pointer;
  text-align: left;
  padding-left: spacing.$container-edge-spacing;
  padding-right: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: borders.$component-inner-divider;

  &:hover {
    background-color: colors.$hover-white;
  }

  .filter-accordion-title {
    flex: 1;
  }

  .filter-accordion-icon-container {
    height: spacing.$min-touch-target;
    width: spacing.$min-touch-target;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    svg {
      height: icons.$icon-size-sm;
    }
  }
}

.filter-accordion-content {
  border-top: borders.$component-inner-divider;

  .filter-checkbox:last-child {
    margin-bottom: spacing.$container-edge-spacing;
  }
}

.filter-checkbox {
  cursor: pointer;
  font-size: typography.$font-size-base;

  border: borders.$component-border;
  border-radius: borders.$border-radius;

  min-height: spacing.$min-touch-target;
  margin: spacing.$element-gap spacing.$container-edge-spacing;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover {
    background-color: colors.$hover-white;
  }

  input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    margin: 0;
  }

  svg {
    height: icons.$icon-size-md;
    width: icons.$icon-size-md;
    margin-left: spacing.$element-gap;
    color: colors.$gray;
  }

  .fa-square {
    display: block;
  }

  .fa-square-check {
    display: none;
  }

  input[type="checkbox"]:checked {
    & ~ .fa-square {
      display: none;
    }

    & ~ .fa-square-check {
      display: block;
    }
  }

  span {
    flex: 1;
    margin: spacing.$element-gap;
    line-height: 1.1;
  }
}

.filter-group-selectors-container {
  display: flex;
  width: 100%;

  button {
    flex: 1;
    height: spacing.$min-touch-target;
    cursor: pointer;

    border: borders.$component-border;
    border-radius: borders.$border-radius;
    margin-top: spacing.$container-edge-spacing;

    &:first-child {
      margin-left: spacing.$container-edge-spacing;
      margin-right: spacing.$element-gap;
    }

    &:last-child {
      margin-right: spacing.$container-edge-spacing;
    }

    &:hover {
      background-color: colors.$hover-white;
    }
  }
}

.filter-checkbox-options-two-columns {
  display: flex;
  flex-wrap: wrap;
  gap: spacing.$element-gap;

  margin-top: spacing.$element-gap;
  margin-left: spacing.$container-edge-spacing;
  margin-right: spacing.$container-edge-spacing;

  .filter-checkbox {
    min-width: calc(50% - spacing.$element-gap / 2);
    margin: 0;
  }
}

// Inspired by https://designsystem.digital.gov/components/select/.
.filter-policy-type-dropdown-container {
  margin: spacing.$element-gap spacing.$container-edge-spacing;

  select {
    appearance: none;

    font-size: typography.$font-size-base;
    min-height: spacing.$min-touch-target;
    width: 100%;

    padding-left: spacing.$container-edge-spacing;

    border: borders.$component-border;
    border-radius: borders.$border-radius;

    color: colors.$black;

    background-image: url(../../assets/unfold-more.svg),
      linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 20px;

    // Media query avoids iOS always showing the background in hover state.
    @media (hover: hover) {
      &:hover {
        background-color: colors.$hover-white;
      }
    }
  }
}
