$gray: #4d4d4d;

header {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 1rem;
  background: $gray;
  color: white;

  svg {
    color: white;
  }

  @media only screen and (min-width: 48em) {
    font-size: 1.5rem;
  }
}

.header-icons {
  display: flex;
  align-items: center;

  cursor: pointer;
  font-size: 1rem;

  svg {
    padding: 0 0.5rem;
  }
}
