@use "theme/colors-original";

header {
  padding: 0.5rem 1rem;

  font-size: 1rem;
  background: colors-original.$gray-dark-medium;
  color: colors-original.$white;

  svg {
    color: colors-original.$white;
  }

  @media only screen and (min-width: 48em) {
    font-size: 1.5rem;
  }
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-icons {
  display: flex;
  align-items: center;

  cursor: pointer;
  font-size: 1rem;

  svg {
    padding: 0 0.5rem;
  }
}
