@use "theme/borders";
@use "theme/colors";
@use "theme/icons";
@use "theme/spacing";
@use "theme/typography";

.legend.leaflet-control {
  background: colors.$white;
  border: borders.$component-border;
  border-radius: borders.$border-radius;

  // Make clear that moving the legend will move the map itself.
  cursor: grab;

  h2 {
    font-weight: normal;
    font-size: typography.$font-size-md;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: spacing.$element-gap;
  }

  ul {
    padding: 0 spacing.$container-edge-spacing;
    margin-top: spacing.$element-gap;
    margin-bottom: spacing.$element-gap;
  }

  li {
    height: calc(icons.$icon-size-xs + 5px);
    list-style: none;
    font-size: typography.$font-size-base;
    line-height: 1;
  }

  i {
    height: icons.$icon-size-xs;
    width: icons.$icon-size-xs;
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
  }
}
