.legend.leaflet-control {
  background: white;
  opacity: 0.9;
  border-radius: 5px;
  // Make clear that moving the legend will move the map itself.
  cursor: grab;
  height: 10.5em;
}

.legend h2 {
  margin: 0.5em 0.5em 0.1em 0.5em;
  padding: 0;
  font-weight: normal;
  text-align: center;
  font-size: 1.25em;
}

.legend ul {
  padding: 0 0.5em;
  margin-top: 0;
}

.legend li {
  list-style: none;
  font-size: 1em;
}

.legend i {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
  display: inline-block;
  vertical-align: top;
}

// For larger screens
@media screen and (min-width: 48em) {
  .legend.leaflet-control {
    height: 13.5em;
  }

  .legend h2 {
    font-size: 1.5em;
  }

  .legend ul {
    padding: 0 1em;
    margin-top: 0;
  }

  .legend li {
    font-size: 1.25em;
  }

  .legend i {
    width: 1.2em;
    height: 1.2em;
  }
}
