@use "theme/breakpoints";
@use "theme/colors";
@use "theme/spacing";
@use "theme/zindex";

.prn-logo-map {
  position: absolute;
  left: spacing.$map-controls-margin-x;
  z-index: zindex.$logo;

  // `bottom` is set so high to avoid covering the attribution
  // on small screens, since it wraps to two lines.
  bottom: 30px;
  @include breakpoints.gt-xs {
    bottom: 15px;
  }
  @include breakpoints.gt-sm {
    bottom: 0px;
  }

  width: 80px;
  @include breakpoints.gt-xxs {
    width: 100px;
  }

  img {
    background-color: colors.$white;
    width: 100%;
  }
}
