@use "theme/borders";
@use "theme/colors";
@use "theme/icons";
@use "theme/spacing";
@use "theme/typography";

$toggle-size: 8px;
$toggle-circle: calc(2.4 * $toggle-size);

.all-minimums-toggle {
  cursor: pointer;
  font-size: typography.$font-size-base;

  border: borders.$component-border;
  border-radius: borders.$border-radius;

  min-height: spacing.$min-touch-target;
  margin: spacing.$container-edge-spacing;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover {
    background-color: colors.$hover-white;
  }

  input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    margin: 0;
  }

  svg {
    height: icons.$icon-size-md;
    width: icons.$icon-size-md;
    margin-left: spacing.$element-gap;
    color: colors.$gray;
  }

  span {
    flex: 1;
    margin-left: spacing.$container-edge-spacing;
    margin-top: spacing.$element-gap;
    margin-bottom: spacing.$element-gap;
    line-height: 1.2;
  }
}

.all-minimums-toggle-switch {
  display: inline-block;
  position: relative;
  width: calc(5.8 * $toggle-size);
  height: calc(3.2 * $toggle-size);

  margin-left: spacing.$element-gap;
  margin-right: spacing.$container-edge-spacing;

  background: colors.$gray-light;
  border-radius: 16px;
  transition: 0.25s;

  &::before {
    content: "";
    display: block;
    width: $toggle-circle;
    height: $toggle-circle;

    position: absolute;
    top: calc(0.4 * $toggle-size);
    left: calc(0.4 * $toggle-size);

    background: colors.$white;
    border-radius: 50%;
    transition: left 0.25s;
  }
}

#all-minimums-toggle-checkbox:checked ~ .all-minimums-toggle-switch {
  background: colors.$gray;

  &::before {
    left: calc(3 * $toggle-size);
  }
}
