@use "theme/borders";
@use "theme/colors";
@use "theme/icons";
@use "theme/mixins";
@use "theme/spacing";
@use "theme/typography";

@use "filter";

$thumbsize: icons.$icon-size-md;

.population-slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  // `width` must be hardcoded for the calculations in populationSlider.ts to work.
  width: calc(
    filter.$filter-inner-width - (spacing.$container-edge-spacing * 2)
  );
  margin: spacing.$element-gap spacing.$container-edge-spacing;

  // You can uncomment this code to visualize the slider mechanism when debugging.
  // input {
  //   border: solid;
  // }
}

.population-slider-controls {
  width: 100%;
  margin-top: spacing.$container-edge-spacing;
  margin-bottom: calc(
    spacing.$container-edge-spacing + spacing.$small-gap
  );

  @include mixins.flex-center(flex, space-between);
}

.population-slider-controls > input {
  cursor: pointer;
  position: absolute;
  margin: 0;

  -webkit-appearance: none;
  outline: none;

  // Only set the background in the middle third.
  background: transparent;
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 30%,
    colors.$gray-light 33%,
    colors.$gray-light 66%,
    transparent 60%,
    transparent 100%
  );

  &::-webkit-slider-thumb,
  &::-moz-range-thumb,
  &::-ms-thumb {
    width: $thumbsize;
    height: $thumbsize;

    -webkit-appearance: none; // Override default look
    appearance: none;
    cursor: pointer;

    background: colors.$white;
    border: borders.$border-thickness solid colors.$gray;
    border-radius: 100%;
  }

  &::-webkit-slider-runnable-track {
    cursor: pointer;
  }
}
