div.choices {
  position: absolute;
  top: 5.4em;
  left: 3em;
  max-width: 250px;
  z-index: 1000;

  @media only screen and (min-width: 48em) {
    top: 7em;
  }

  &.is-open {
    width: 250px;
  }
}

div.choices__inner {
  min-height: unset;
  width: unset;
}
