$width: 250px;
$top-offset: 5.8em;

div.choices {
  position: absolute;
  top: $top-offset;
  left: 3em;
  max-width: $width;
  z-index: 1000;

  @media only screen and (min-width: 48em) {
    top: $top-offset + 0.65em;
  }

  // Changes the search list.
  &.is-open {
    width: $width;
  }
}

// Changes the search box.
div.choices__inner {
  min-height: unset;
  width: $width - 20px;
}
