@use "theme/borders";
@use "theme/colors";
@use "theme/spacing";
@use "theme/typography";
@use "header";

$label-font-size: typography.$font-size-md;

$container-margin-left: spacing.$map-controls-margin-x;
$button-width: spacing.$min-touch-target;
$total-width: calc($container-margin-left + $button-width);

div.leaflet-left .leaflet-control {
  margin-left: $container-margin-left;
  border: borders.$component-border;
  border-radius: borders.$border-radius;
}

div.leaflet-control-zoom.leaflet-bar {
  top: calc(46px + spacing.$map-controls-margin-top - header.$header-height);

  a {
    width: $button-width;
    height: spacing.$min-touch-target;
    font-size: $label-font-size;
    font-weight: normal;

    display: flex;
    align-items: center;
    justify-content: center;

    @media (hover: hover) {
      &:hover,
      &:focus {
        color: unset;
        text-decoration: none;
      }
    }

    &:first-child {
      border-bottom: borders.$component-inner-divider;
      border-top-left-radius: borders.$border-radius;
      border-top-right-radius: borders.$border-radius;
    }

    &:last-child {
      border-bottom-left-radius: borders.$border-radius;
      border-bottom-right-radius: borders.$border-radius;
    }
  }
}
