@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* setting css variables */
:root {
  --gray: #4d4d4d;
  --light-gray: #bababa;
  --white: #ffffff;
}

html,
body,
div.page,
#map {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

div.page {
  display: flex;
  flex-direction: column;
}

body,
.leaflet-container {
  font-family: Poppins, Helvetica, Arial, sans-serif;
}

/* styling the banner */
div.banner {
  display: flex;
  height: 3rem;
  align-items: center;
  padding: 0 0.5rem; /* if too high, will create wrapping*/
  background: var(--gray);
  color: var(--white);
  justify-content: space-between;
}
div.banner-title {
  font-weight: bold;
  font-size: 1.25rem;
  background-color: var(--gray);
  color: var(--white);
}

div.banner-icons {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.info-icon,
.share-dropdown-icon,
.fullscreen-icon {
  padding: 0.1rem 0.5rem;
}

div.banner-icons svg {
  color: var(--white);
}
