@use "header";
@use "legend";
@use "search";
@use "about";
@use "city-details";
@use "filter";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#map {
  flex: 1;
  width: 100%;
}

body,
.leaflet-container {
  font-family: Poppins, Helvetica, Arial, sans-serif;
}

.leaflet-grab {
  cursor: unset;
}
