body, html
{
	margin: 0; padding: 0; height: 100%; overflow: hidden;
}

#content
{
	display: flex;
	height: 100%;
	flex-direction: column;
}

i {
	font-family: 'FontAwesome';
	font-style: normal;
	cursor: pointer;
}

.banner {
	height: 50px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	padding: 0 10px;
	background: #4d4d4d;
	color: white;
	font-family: Helvetica,Arial,sans-serif;
	justify-content: space-between;
}
.row.banner__actions {
	/* TODO: remove !important after diagnosing why styles are not applying as expected in safari/iOS */
	flex-wrap: nowrap !important;
}
.btn.banner__button {
	/* TODO: remove !important after diagnosing why styles are not applying as expected in safari/iOS */
	display: flex !important;
	align-items: center !important;
	gap: 0.25rem;
	height: 1.75rem !important;
	padding: 0 0.375rem !important;
	border-color: transparent !important;
}
