a.button1{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:600;
    font-size: 40pt;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
  }
    a.button1:hover{
    color:#000000;
    background-color:#FFFFFF;
  }
  
  
.container{  
text-align: center;  
border: 0;  
width: 100%;  
padding-top: 20%;  
}  
body {
 background-image: url("map_throttle_bg.jpg");
 background-position: center center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
}
    @media all and (max-width:30em){
    a.button1{
      display:block;
      margin:0.4em auto;
     }
    }