name: Tests
on: [pull_request, workflow_dispatch]
jobs:
  test:
    if: github.repository_owner == 'ParkingReformNetwork'
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install dependencies
        run: npm ci

      - name: Typecheck
        run: npm run check
      - name: Lint
        run: npm run lint
      - name: Run tests
        run: npm test

      - name: Check static generation works
        run: |
          npm run gen-html
          npm run gen-csv
